In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

dataset_path = os.listdir('dataset')

room_types = os.listdir('dataset')
print(room_types)

print("Types of rooms found: ", len(room_types))

['bed_room', 'dining_room', 'living_room']
Types of rooms found:  3

In [32]:
rooms = []

for item in room_types:
    all_rooms = os.listdir('dataset' + '/' + item)
    for room in all_rooms:
        rooms.append((item, str('dataset' + '/' + item) + '/' + room))

    

print(rooms)

[('bed_room', 'dataset/bed_room/bed-1303451__340.jpg'), ('bed_room', 'dataset/bed_room/bed-1846251__340.jpg'), ('bed_room', 'dataset/bed_room/bed-3786264__340.jpg'), ('bed_room', 'dataset/bed_room/bed-4065946__340.jpg'), ('bed_room', 'dataset/bed_room/bed-4343379__340.jpg'), ('bed_room', 'dataset/bed_room/bed-4343382__340.jpg'), ('bed_room', 'dataset/bed_room/bed-4540208__340.jpg'), ('bed_room', 'dataset/bed_room/bedroom-3102376__340.jpg'), ('bed_room', 'dataset/bed_room/bedroom-374982__340.jpg'), ('bed_room', 'dataset/bed_room/bedroom-4072391__340 (1).jpg'), ('bed_room', 'dataset/bed_room/bedroom-460762__340.jpg'), ('bed_room', 'dataset/bed_room/bedroom-690129__340.jpg'), ('dining_room', 'dataset/dining_room/apartment-185778__340.jpg'), ('dining_room', 'dataset/dining_room/apartment-185779__340.jpg'), ('dining_room', 'dataset/dining_room/apartment-2094648__340.jpg'), ('dining_room', 'dataset/dining_room/architectural-224242__340.jpg'), ('dining_room', 'dataset/dining_room/architecture-3214528__340.jpg'), ('dining_room', 'dataset/dining_room/cafeteria-544871__340.jpg'), ('dining_room', 'dataset/dining_room/candles-126159__340.jpg'), ('dining_room', 'dataset/dining_room/centerpiece-714019__340.jpg'), ('dining_room', 'dataset/dining_room/chair-3306118__340.jpg'), ('dining_room', 'dataset/dining_room/chair-3321246__340.jpg'), ('dining_room', 'dataset/dining_room/dining-2112653__340.jpg'), ('living_room', 'dataset/living_room/couch-1835923__340.jpg'), ('living_room', 'dataset/living_room/dining-room-332207__340.jpg'), ('living_room', 'dataset/living_room/furniture-998265__340.jpg'), ('living_room', 'dataset/living_room/house-2563735__340.jpg'), ('living_room', 'dataset/living_room/interior-2685521__340.jpg'), ('living_room', 'dataset/living_room/kitchen-2165756__340.jpg'), ('living_room', 'dataset/living_room/kitchen-3690727__340.jpg'), ('living_room', 'dataset/living_room/kitchen-living-room-4043091__340.jpg'), ('living_room', 'dataset/living_room/living-living-room-1644496__340.jpg'), ('living_room', 'dataset/living_room/living-room-1048191__340.jpg'), ('living_room', 'dataset/living_room/living-room-1523480__340.jpg'), ('living_room', 'dataset/living_room/living-room-2037945__340.jpg'), ('living_room', 'dataset/living_room/living-room-2155376__340.jpg'), ('living_room', 'dataset/living_room/living-room-2569325__340.jpg'), ('living_room', 'dataset/living_room/living-room-2732939__340.jpg'), ('living_room', 'dataset/living_room/living-room-3164434__340.jpg'), ('living_room', 'dataset/living_room/living-room-670240__340.jpg'), ('living_room', 'dataset/living_room/living-room-690174__340.jpg'), ('living_room', 'dataset/living_room/living-room-728732__340.jpg'), ('living_room', 'dataset/living_room/pexels-photo-245208.jpeg'), ('living_room', 'dataset/living_room/pexels-photo-275484.jpeg'), ('living_room', 'dataset/living_room/pexels-photo-276583.jpeg'), ('living_room', 'dataset/living_room/pexels-photo-276724.jpeg'), ('living_room', 'dataset/living_room/pexels-photo-279719.jpeg')]

In [33]:
rooms_df = pd.DataFrame(data=rooms, columns=['room type', 'image'])
rooms_df.head()

  room type                                  image
0  bed_room  dataset/bed_room/bed-1303451__340.jpg
1  bed_room  dataset/bed_room/bed-1846251__340.jpg
2  bed_room  dataset/bed_room/bed-3786264__340.jpg
3  bed_room  dataset/bed_room/bed-4065946__340.jpg
4  bed_room  dataset/bed_room/bed-4343379__340.jpg

In [34]:
rooms_df.tail()

      room type                                         image
42  living_room  dataset/living_room/pexels-photo-245208.jpeg
43  living_room  dataset/living_room/pexels-photo-275484.jpeg
44  living_room  dataset/living_room/pexels-photo-276583.jpeg
45  living_room  dataset/living_room/pexels-photo-276724.jpeg
46  living_room  dataset/living_room/pexels-photo-279719.jpeg

In [35]:
print("Total number of rooms in the dataset: ", len(rooms_df))

Total number of rooms in the dataset:  47

In [36]:
room_count = rooms_df ['room type'].value_counts()

print("rooms in each category: ")
print(room_count)

rooms in each category:
living_room    24
bed_room       12
dining_room    11
Name: room type, dtype: int64

In [37]:
import cv2
path = 'dataset/'

im_size = 60

images = []
labels = []

for i in room_types:
    data_path = path + str(i)
    filenames = [i for i in os.listdir(data_path)]

    for f in filenames:
        img = cv2.imread(data_path + '/' + f)
        img = cv2.resize(img, (im_size, im_size))
        images.append(img)
        labels.append(i)

In [38]:
images  = np.array(images)

images.shape

(47, 60, 60, 3)

In [39]:
images = images.astype('float32')
images.shape

(47, 60, 60, 3)

In [40]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

y = rooms_df['room type'].values
print(y[:5])

['bed_room' 'bed_room' 'bed_room' 'bed_room' 'bed_room']

In [41]:
y = LabelEncoder().fit_transform(y)
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2]

In [42]:
y = y.reshape(-1, 1)
Y = OneHotEncoder().fit_transform(y)
Y.shape

(47, 3)

In [44]:
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
images, Y = shuffle(images, Y, random_state=1)

train_x, test_x, train_y, test_y = train_test_split(images, Y, test_size=0.05, random_state=415)

print(train_x.shape)
print(test_x.shape)
print(train_y.shape)
print(test_y.shape)

(44, 60, 60, 3)
(3, 60, 60, 3)
(44, 3)
(3, 3)